{
   "parserOptions": {
      "ecmaVersion": 2019,
      "sourceType": "module",
      "ecmaFeatures": {
         "jsx": true
      }
   },
   "parser": "babel-eslint",
   "plugins": ["jest", "prettier"],
   "extends": ["eslint:recommended", "plugin:prettier/recommended", "prettier"],
   "rules": {
      "strict": ["error", "never"]
   },
   "env": {
      "browser": true
   },
   "overrides": [
      {
         "files": "**/*.+(ts|tsx)",
         "rules": {
            "no-unused-vars": [2, {"vars": "all", "args": "none"}]
         },
         "parser": "@typescript-eslint/parser",
         "parserOptions": {
            "project": "./tsconfig.json"
         },
         "extends": [
            "eslint:recommended",
            "plugin:react/recommended",
            "plugin:react/jsx-runtime",
            "plugin:jest/recommended",
            "prettier"
         ]
      }
   ]
}
