.box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  .line {
    height: 100%;
    width: 10%;
    background:  var(--clr-yellow);
  }