:root {
  --clr-yellow: #fc0;
  --clr-grey: #9E9E9E;
  --clr-grey-300: #f1f2f3;
  --clr-white: #fff;
  --clr-dark: #282828;
  --border-radius: 4px
}

body {
  background-color: var(--clr-dark);
}

.app {
  position: relative;
  max-width: 420px;
  min-height: 100vh;
  background: var(--clr-white);
}

.box {
  padding: 40px
}

.field {
  margin-bottom: 10px;
}

.input {
  box-sizing: border-box;
  height: 42px;
  padding: 0 8px;
  width: 100%;
  border-radius: var(--border-radius);
  border: 1px solid var(--clr-grey);
  font-size: 16px;
}

.btn {
  position: relative;
  background: var(--clr-yellow);
  border: none;
  outline: none;
  height: 42px;
  border-radius: var(--border-radius);
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 40px;
  font-size: 16px;
  overflow: hidden;
}

.btnContent {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-light {
  background: none;
  border: 1px solid var(--clr-yellow);
}

.btn--disable {
  background: var(--clr-grey-300);
}

.select {
  background: var(--clr-yellow);
}